<% layout('layout/navbar.ejs') %>

<style>
  #tablero {
    height: 500px;
    margin-left: 30%;
    margin-right: 25%;
    margin-top: 5%;
  }

  .dvJuego {
    margin: 1%;
  }

  #divPrincipio {
    position: absolute;
    margin-top: 1%;
    margin-left: 15%;
  }

  #instrucciones {
    position: absolute;
    width: 400px;
    height: 360px;
    margin-top: -26%;
    margin-left: 1.2%;
  }

  #textoInstrucciones {
    color: aliceblue;
    margin: 5%;
  }

  .alertasPersonalizadas {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 1%;
    margin-top: 2%;
  }
  .instruccionesCompacto{
      margin-top: 10%;
      margin-left: 20%;
      margin-right: 20%;
      margin-bottom: 5%;
    }
</style>

<script>
  window.onload = function() {
    // Array de img donde guardaremos el src de las cartas
    arrayImagenes = new Array();
    image1 = new Image();
    image1.src = "/barajaBlackJack/uno.png";
    image2 = new Image();
    image2.src = "/barajaBlackJack/dos.png";
    image3 = new Image();
    image3.src = "/barajaBlackJack/tres.png";
    image4 = new Image();
    image4.src = "/barajaBlackJack/cuatro.png";
    image5 = new Image();
    image5.src = "/barajaBlackJack/cinco.png";
    image6 = new Image();
    image6.src = "/barajaBlackJack/seis.png";
    image7 = new Image();
    image7.src = "/barajaBlackJack/siete.png";
    image8 = new Image();
    image8.src = "/barajaBlackJack/ocho.png";
    image9 = new Image();
    image9.src = "/barajaBlackJack/nueve.png";
    image10 = new Image();
    image10.src = "/barajaBlackJack/diez.png";

    arrayImagenes = [
      image1.src,
      image2.src,
      image3.src,
      image4.src,
      image5.src,
      image6.src,
      image7.src,
      image8.src,
      image9.src,
      image10.src,
    ];
    // Variables
    cartasUsuario = [];
    cartasCPU = [];
    // Obtención de elementos del body
    tablero = document.getElementById("tablero");
    tableroUsuario = document.getElementById("cartasUsuario");
    tableroCPU = document.getElementById("cartasCPU");
    btnEmpezar = document.getElementById("btnEmpezar");
    btnSiguienteCarta = document.getElementById("btnPedir");
    btnParar = document.getElementById("btnParar");
    divFinal = document.getElementById("divFinal");
    alertaDinero = document.getElementById("alertaDinero");
    alertaVictoria = document.getElementById("alertaVictoria");
    alertaEmpate = document.getElementById("alertaEmpate");
    alertaDerrota = document.getElementById("alertaDerrota");
    dinero = document.getElementById("dinero").textContent;
    // Pone invisible botones y las alertas personalizadas
    btnParar.style.display = "none";
    divFinal.style.display = "none";
    alertaVictoria.style.display = "none";
    alertaDerrota.style.display = "none";
    alertaDinero.style.display = "none";
    btnSiguienteCarta.style.display = "none";
    alertaEmpate.style.display = "none";
    // Separamos el texto del dinero por espacios
    dineroLimpio = dinero.split(" ");
    // Variable boolean que nos permite hacer que pare la cpu de jugar
    jugarCPU = true;
    perdioCPU = false;

    // Si la variable puedeJugar no existe en local
    if (!localStorage.getItem("puedeJugar")) {
      // La crea y la pone a true, esta variable nos dira si el usuario puede jugar o no
      localStorage.setItem("puedeJugar", "true");
    }
    // Obtenemos la variable local "puedeJugar"
    puedeJugar = localStorage.getItem("puedeJugar");
    // Guardamos otra variable en local con el dinero que tiene ahora el usuario
    localStorage.setItem("localDinero", parseInt(dineroLimpio[2]));
    // Obtenemos la variable local "localDinero"
    localDinero = localStorage.getItem("localDinero");

    // Si localDinero no es igual a "localApuesta" (LocalApuesta es una variable que se crea despues, esta variable contiene el dinero del usuario despues de jugar) y puedeJugar es false
    if (localDinero != parseInt(localStorage.getItem("localApuesta")) && puedeJugar == "false") {
      // Hacemos invisibles los botones de juego
      btnParar.style.display = "none";
      btnSiguienteCarta.style.display = "none";
      // Obtenemos la variable "localApuesta"
      dineroFinal = parseInt(localStorage.getItem("localApuesta"));
      // Cambiamos el valor de premioFinal por el valor de dineroFinal
      document.getElementById("premioFinal").value = dineroFinal;
      // Ponemos invisible divPrincipio
      divPrincipio.style.display = "none";
      // Ponemos visible divFinal
      divFinal.style.display = "block";
      // Si no es
    } else {
      // Ponemos la variable puedeJugar en true
      localStorage.setItem("puedeJugar", "true");
      // Si el usuario pulsa el botón de empezar el juego empezara
      btnEmpezar.onclick = empezarJuego;
    }
  }

  // Función para empezar el juego
  function empezarJuego() {
    // Comprobamos si la apuesta del usuario esta entre 0 y su dinero total
    if (document.getElementById("texto").value <= parseInt(dineroLimpio[2]) && document.getElementById("texto").value > 0) {
      // Cambiamos el valor de la variable local puedeJugar a false
      localStorage.setItem("puedeJugar", "false");
      divPrincipio.style.display = "none";
      // Ponemos invisible las alertas personalizadas
      alertaDinero.style.display = "none";
      // Ponemos visibles los botones de juego
      btnSiguienteCarta.style.display = "block";
      // Ponemos invisible el botón de empezar el juego
      btnEmpezar.style.display = "none";
      // Repartimos las cartas al usuario y al cpu
      repartirCartas(cartasUsuario);
      repartirCartas(cartasCPU);
      mostrarCartasUsuario();
      mostrarCartasCPU();
      btnSiguienteCarta.onclick = repartirCarta;
    } else {
      alertaDinero.style.display = "block";
    }

  }

  // Función para rellenar un array de cartas
  function repartirCartas(array) {
    // For de 2
    for (let index = 0; index < 2; index++) {
      // Numero aleatorio entre 1 y 10
      array[index] = Math.floor(Math.random() * (11 - 1)) + 1;
    }
    // Si la suma total de todas las cartas del usuario llega a 15
    if (calcularSuma(cartasUsuario) > 15) {
      // Ponemos visible el botón de plantarse
      btnParar.style.display = "block";
      btnParar.onclick = plantarse;
    }
  }

  // Función para recorrer el array de cartas del usuario y mostrarlo
  function mostrarCartasUsuario() {
    // For de todas las cartas del usuario
    for (let index = 0; index < cartasUsuario.length; index++) {
      // Creamos un img
      imgGenerado = document.createElement("img");
      // Le asignamos el src
      imgGenerado.src = arrayImagenes[cartasUsuario[index] - 1];
      // Le añadimos un margin
      imgGenerado.style.margin = 10 + "px";
      // Lo añadimos al tablero del usuario
      tableroUsuario.appendChild(imgGenerado);
    }
    // Calculamos la suma total de las cartas del usuario y lo mostramos
    document.getElementById("sumaUsuario").textContent = calcularSuma(cartasUsuario);
  }

  // Función para recorrer el array de cartas de la cpu y mostrarlo
  function mostrarCartasCPU() {
    // For de todas las cartas de la cpu
    for (let index = 0; index < cartasCPU.length; index++) {
      // Creamos un img
      imgGenerado = document.createElement("img");
      // Le asignamos el src
      imgGenerado.src = arrayImagenes[cartasCPU[index] - 1];
      // Le añadimos un margin
      imgGenerado.style.margin = 10 + "px";
      // Lo añadimos al tablero de la cpu
      tableroCPU.appendChild(imgGenerado);
    }
    // Calculamos la suma total de las cartas de la cpu y lo mostramos
    document.getElementById("sumaCPU").textContent = calcularSuma(cartasCPU);
  }

  // Función para repartir una carta al usuario
  function repartirCarta() {
    // Añadimos un número aleatorio entre 1 y 10 al final del array de cartas
    cartasUsuario[cartasUsuario.length] = Math.floor(Math.random() * (11 - 1)) + 1;
    // Creamos un img
    imgGenerado = document.createElement("img");
    // Le asignamos el src
    imgGenerado.src = arrayImagenes[cartasUsuario[cartasUsuario.length - 1] - 1];
    // Le añadimos un margin
    imgGenerado.style.margin = 10 + "px";
    // Lo añadimos al tablero del usuario
    tableroUsuario.appendChild(imgGenerado);

    // Calculamos la suma total de las cartas del usuario y lo mostramos
    document.getElementById("sumaUsuario").textContent = calcularSuma(cartasUsuario);
    // Si la suma total de todas las cartas del usuario llega a 15
    if (calcularSuma(cartasUsuario) > 15) {
      btnParar.style.display = "block";
      btnParar.onclick = plantarse;
    }
    // Llamamos a la función comprobar
    if (comprobar(cartasUsuario)) {
      // Llamamos a la función terminarJuego pasandole false
      terminarJuego(false);
      // Cambiamos el onclick del botón y lo hacemos invisible
      btnSiguienteCarta.onclick = " ";
      btnSiguienteCarta.style.display = "none";
      // Si no
    } else {
      // Llama a la función repartirCartaCpu
      repartirCartaCPU();
    }
  }

  // Función para repartir carta a la cpu
  function repartirCartaCPU() {
    // Si la suma total de las cartas de la cpu es mayor a 17
    if (calcularSuma(cartasCPU) > 17) {
      jugarCPU = false;
    }
    // Si jugarCpu es true
    if (jugarCPU) {
      // Añadimos un número aleatorio entre 1 y 10 al final del array de cartas
      cartasCPU[cartasCPU.length] = Math.floor(Math.random() * (11 - 1)) + 1;
      //pGenerado = document.createElement("p");
      // Creamos un img
      imgGenerado = document.createElement("img");
      // Le asignamos un src
      imgGenerado.src = arrayImagenes[cartasCPU[cartasCPU.length - 1] - 1];
      // Le añadimos un margin
      imgGenerado.style.margin = 10 + "px";
      // Lo añadimos al tablero de la cpu
      tableroCPU.appendChild(imgGenerado);
      // Calculamos la suma total de las cartas de la cpu y lo mostramos
      document.getElementById("sumaCPU").textContent = calcularSuma(cartasCPU);
      // Si la suma total de las cartas de la cpu es menor a 15
      if (calcularSuma(cartasCPU) < 15) {
        // Llama a la función repartirCartaCpu
        repartirCartaCPU();
      }
      // Si comprobar es true
      if (comprobar(cartasCPU)) {
        // Llama a la función terminarJuego pasandole true
        terminarJuego(true);
        perdioCPU = true;
      }
    }
  }

  // Función para comprobar la suma total
  function comprobar(array) {
    // Si la suma total es mayor a 21
    return (calcularSuma(array) > 21);
  }

  // Función para calcular la suma total
  function calcularSuma(array) {
    total = 0;
    // For del parametro array
    for (let index = 0; index < array.length; index++) {
      total = total + array[index];
    }
    // Devuelve la suma
    return total;
  }

  // Función para plantarse
  function plantarse() {
    // Si las cartas de la cpu es menor o igual a 16
    if (calcularSuma(cartasCPU) <= 16) {
      // llama a la función repartirCartaCpu
      repartirCartaCPU();
    }

    if(!perdioCPU){
    // Si las sumas totales son iguales
    if (calcularSuma(cartasUsuario) == calcularSuma(cartasCPU)) {
      // Llama a la función empate
      empate();
    }
    // Si la suma total del usaurio es mayor
    if (calcularSuma(cartasUsuario) > calcularSuma(cartasCPU)) {
      // Llama a la función terminarJuego pasadole true
      terminarJuego(true);
      // Si es menor
    } else if (calcularSuma(cartasUsuario) < calcularSuma(cartasCPU)) {
      // Llama a la función terminarJuego pasadole false
      terminarJuego(false);
    }
  }
  }

  // Función para terminar el juego
  function terminarJuego(victoria) {
    // Ponemos invisible los botones de juego
    btnParar.style.display = "none";
    btnSiguienteCarta.style.display = "none";
    // Si victoria es true
    if (victoria) {
      // Mostramos la alerta personalizada de victoria
      alertaVictoria.style.display = "block";
      // Calculamos el dinero final del usuario
      dineroFinal = parseInt(dineroLimpio[2]) + parseInt(document.getElementById("texto").value);
      document.getElementById("premioFinal").value = dineroFinal;
      // Llamamos a la función guardarLocal
      guardarLocal(dineroFinal);
    // Si es false
    } else {
      // Mostramos la alerta personalizada de derrota
      alertaDerrota.style.display = "block";
      // Calculamos el dinero final del usuario
      dineroFinal = parseInt(dineroLimpio[2]) - parseInt(document.getElementById("texto").value);
      document.getElementById("premioFinal").value = dineroFinal;
      // Llamamos a la función guardarLocal
      guardarLocal(dineroFinal);
    }
    // Ponemos en invisible el div principio y visible el div final
    divPrincipio.style.display = "none";
    divFinal.style.display = "block";
  }

  // Función de empate
  function empate() {
    // Ponemos en invisible los botones de juego
    btnParar.style.display = "none";
    btnSiguienteCarta.style.display = "none";
    // Mostramos la alerta de empate
    alertaEmpate.style.display = "block";
    // El usuario se queda con el mismo dinero
    dineroFinal = parseInt(dineroLimpio[2]);
    document.getElementById("premioFinal").value = dineroFinal;
    // Llamamos a la función guardarLocal
    guardarLocal(dineroFinal);
    // Ponemos en invisible el div principio y visible el div final
    divPrincipio.style.display = "none";
    divFinal.style.display = "block";
  }

  // Función para guardar en local
  function guardarLocal(dineroF) {
    localStorage.setItem("localApuesta", dineroF);
  }
</script>

<div class="shadow p-3 mb-5 bg-body rounded contenedor">
  <h2 class="text-center">BlackJack</h2>
</div>

<!-- Alertas para el usuario -->
<div class="alert alert-danger alertasPersonalizadas" id="alertaDinero" role="alert">
  No tiene suficiente dinero
</div>


<div class="alert alert-success alertasPersonalizadas" id="alertaVictoria" role="alert">
  ¡Has ganado!
</div>

<div class="alert alert-warning alertasPersonalizadas" id="alertaEmpate" role="alert">
  Empate.
</div>

<div class="alert alert-warning alertasPersonalizadas" id="alertaDerrota" role="alert">
  Has perdido, más suerte la proxima vez.
</div>


<div class="bg-success p-2 text-white bg-opacity-75 position-relative" id="tablero">
  <div class="position-absolute top-0 start-50 translate-middle-x" id="cartasCPU">

  </div>
  <div class="position-absolute bottom-0 start-50 translate-middle-x" id="cartasUsuario">

  </div>
  <div class="position-absolute top-50 start-0 translate-middle-y dvJuego">
    <p>CPU</p>
    <p id="sumaCPU"></p>
  </div>
  <div class="position-absolute top-50 end-0 translate-middle-y dvJuego">
    <p>
      <%= user.email %>
    </p>
    <p id="sumaUsuario"></p>
  </div>
  <div class="position-absolute bottom-0 end-0 dvJuego">
    <button id="btnPedir" class="btn btn-outline-dark">Pedir Carta</button>
  </div>
  <div class="position-absolute bottom-0 start-0 dvJuego">
    <button id="btnParar" class="btn btn-outline-dark">Plantarte</button>
  </div>
</div>



  <!-- Div Principal donde se empieza el juego -->
  <div class="container-lg" id="divPrincipio">
    <div class="input-group">
      <span class="input-group-text">Apuesta</span>
      <input type="text" aria-label="Apuesta" id="texto" class="form-control">
    </div>
    <!-- Boton para empezar a jugar -->
    <!-- <button id="btnEmpezar">Empezar</button>-->
    <button type="button" class="btn btn-primary btn-block mt-4 btn-dark btn-lg rounded-pill" id="btnEmpezar">Empezar</button>
    <!-- Div invisible donde guardamos el dinero del usuario -->
    <div class="invisible">
      <h4 id="dinero">
        <!-- Dinero del usuario -->
        <%= user.monedas %>
      </h4>
    </div>
  </div>
  <!-- Div Final donde se finaliza el juego -->
  <div class="container-lg" id="divFinal">
    <div class="row">
      <div class="col mt-4 text-center">
        <!-- Creamos un form para enviarselo a la base de datos -->
        <form action="/blackjack" method="POST">
          <!-- Input donde estará el id del usuario (Este input es invisible) -->
          <input type="hidden" name="id" value="<%= user.id %>"></input>
          <!-- Input donde estará las monedas finales del usuario (Este input es invisible) -->
          <input type="number" class="invisible" name="monedas" id="premioFinal" placeholder="Monedas">
          <p></p>
          <!-- Botón para enviar el form a la base de datos -->
          <button type="submit" class="btn btn-primary btn-block mt-4 btn-dark btn-lg rounded-pill" id="Reclamar">Volver a jugar</button>
          <!--
          <button id="Reclamar">
            Volver a jugar
          </button>
          -->
        </form>
      </div>
    </div>
  </div>

<div class="instruccionesCompacto border-start-0">
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Instrucciones de juego
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body"> <p>Se repartirán dos cartas al usuario y a la CPU, siempre que la suma de las cartas sea menor que 16 el usuario
          tendrá que pedir una carta, cuando la suma total de todas las cartas sea mayor que 16 el usuario se podrá
          plantar, cuando el usuario se plante se compararan la suma de las cartas de la CPU y del usuario, el que tenga
          mayor suma sin pasarse de 21 ganara.</p>
        <p>La apuesta tendrá que ser menor al sueldo del usuario.</p></div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Sin diversión no hay juego
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">En Apuestas para gente con pocos recursos no se apuesta con dinero real, ¡Que nada te impida pasar un buen rato jugando!</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          ¿Algún problema?
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">¿Algún problema en alguno de nuestros juegos? <a href="/contacto">¡Contáctanos clicando aquí!</a></div>
      </div>
    </div>
  </div>
</div>