<% layout('layout/main.ejs') %>
<!-- Formulario para registrarse, utilizaremos el metodo POST de la ruta /registrarse -->
<div class="container-lg">
  <div class="row">
    <div class="col mt-4 text-center">
      <form action="/registrarse" method="POST">
        <div class="card-header border border-dark rounded-pill">
          <h3>Registrarse</h3>
        </div>
        <div class="card-body">
          <div class="input-group ">
            <div class="input-group-text rounded-pill"><i class="bi bi-at"></i> </div>
            <input type="email" name="email" class="form-control rounded-pill" placeholder="name@example.com">
          </div>
          <div class="input-group ">
            <div class="input-group-text rounded-pill"><i class="bi bi-bag"></i>
            </div>
            <input type="password" name="password" class="form-control rounded-pill" placeholder="Contraseña">
          </div>
          
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary btn-block mt-4 btn-dark btn-lg rounded-pill">
              Registrarse
            </button>
          </div>
      </form>
    </div>
  </div>
</div>
</div>